<header class="site-header">

  <div class="site-header-wrapper">
    
    
    <a class="site-header-back-button" href="{{ base }}/index.html">
      <img src="{{ base }}/assets/img/icons/button_back.png"/>
    </a>
    
    <a class="site-title" href="{{ base }}/index.html">
      <img src="{{ base }}{{site.logo}}" alt="{{site.title}} logo" class="site-logo"/>
    </a>

    <a class="site-header-menu-button dont-use-ios-override" href="{{ base }}/">
      <img src="{{ base }}/assets/img/icons/menu_icon.png"/>
    </a>

  </div>

</header>
